#sobre {
  background-color: $clWhite;
  padding: 3rem 7.5rem;
  h2 {
    max-width: 28rem;
  }
  div.flex {
    display: flex;
    justify-content: space-between;
    max-width: 60rem;
    margin-top: 1.5rem;
    div.column-1 {
      margin-left: 5.25rem;
    }
    .link {
      margin-top: 1.5rem;
      display: block;
    }
    div:last-child div {
      background-color: #c4c4c4;
      height: 17rem;
      width: 13.25rem;
      border-radius: 4px;
    }
    h4 {
      margin-top: 2rem;
      color: $clDark;
      font-family: 'Space Mono', monospace;
      font-weight: bold;
      font-size: 1.25rem;
    }
    ul {
      margin-top: 1rem;
      list-style-image: url(../assets/retangle-list.svg);
      list-style-position: inside;
      li {
        font-family: 'Space Mono', monospace;
        font-size: 1rem;
        margin-bottom: .75rem;
      }
    }
  }
}
