:root {
  --container-size: 1180px;
  @media (max-width: 1300px){
    --container-size: 980px;
  }
 
}

html {
  @media (max-width: 1080px){
    font-size: 15px;
  }
}

h2 {
  font-family: 'Spectral', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 120%;
  @media (max-width: 810px){
    font-size: 2.5rem;
  }
}

h4 {
  font-family: 'Spectral', serif;
  font-size: 1.5rem;
}

.btn {
  background: $clAccent;
  color: #372C0C;
  display: block;
  padding: 1rem;
  border: 2px solid #82682B;
  font-family: 'Lato', sans-serif;
  font-size: 1.125;
  border-radius: 4px;
  font-size: 1.125rem;
  font-weight: bold;
  box-shadow: 4px 4px 0px #302A19;
}

body {
  font-family: 'Lato', sans-serif;
}

P {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 160%;
  max-width: 25rem;
}

.link {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  color: $clLink;
}

.js-anime {
  opacity: 0;
  transform: translate3d(-30px, 0,0);
  transition: .3s;
}

.js-anime.active {
  opacity: 1;
  transform: translate3d(0, 0,0);
}
