#hero {
  padding: 0 3rem;
  padding-bottom: 3rem;
  height: 100vh;
  @media (max-width: 1080px) {
    height: 100%;
  }
  background: $clPseudo;
  position: relative;
  z-index: 1;
  &::before {
    content: '';
    position: absolute;
    background: $clGlass;
    top: 0;
    left: 0;
    height:  100%;
    width: 100%;
    z-index: -1;
  }
  header {
    font-family: 'Space Mono', monospace;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 90%;
    @media (max-width: 1080px) {
      max-width: 57.5rem;
    }
    margin: 0 auto;
    padding-top: 2rem;
    border-bottom: 1px solid $clWhite;
    padding-bottom: 1rem;
    .logo {
      font-size: 2rem;
      color: $clWhite;
    }
    ul {
      display: flex;
      font-size: 1.125rem;
      li {
        margin-right: 2rem;
      }
      a {
        text-decoration: none;
        color: $clWhite;
      }

      li:last-child {
        margin-right: 0;
      }
    }
    #btn-menu {
      display: none;
    }
    @media (max-width: 800px){
      ul {
        display: none;
      }
      #btn-menu {
        display: block;
        cursor: pointer;
      }
      
    }
  }
  .text-block {
    max-width: 57.5rem;
    margin: 16vh auto 0 auto;
    color: $clWhite;
    position: relative;
    h1 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      font-size: 4rem;
      line-height: 120%;
      text-transform: uppercase;
      @media (max-width: 1080px) {
        font-size: 3.5rem;
        max-width: 100%;
      }
      @media (max-width: 734px){
        font-size: 3.2rem;  
      }
      @media (max-width: 692px){
        font-size: 3.0rem;
      }
      @media (max-width: 445px){
        font-size: 2.7rem;
      }
    }
    span {
      display: block;
      font-family: 'Space Mono', monospace;
      font-size: 1.25rem;
      line-height: 160%;
      max-width: 51rem;
      margin-top: 1.5rem;
      position: relative;
      left:  calc(5.25rem + 1.5rem);
      @media (max-width: 1080px) {
        left: 0;
      }
      @media (max-width: 800px){
        font-size: 1.125rem;
      }
      &::before {
        content: '';
        width: 5.25rem;
        height: 1.4px;
        position: relative;
        display: block;
        background-color: $clWhite;
        left: calc(-5.25rem + -1.5rem);
        top: 3rem;
        @media (max-width: 1080px) {
          height: 6px;
          left: 0;
          top: 0;
          margin-bottom: 1rem;
        }    
      }
    }
    .btn {
      position: absolute;
      right: 0;
      margin-top: 2rem;
      @media (max-width: 1080px){
        position: static;
      }
    }
  }
}
