#hero {
  background-color: #F0F0FA;
  max-width: 1180px;
  margin: 0 auto;
  overflow: hidden;
  // background-image: url(../assets/background-hero.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 40%;
  padding: 0 calc((100% - 1180px)/2);
  padding-bottom: 3rem;
  height: 100vh;
  .container {
    max-width: var(--container-size);
    margin: 0 auto;
    @media (max-width: 1080px) {
      max-width: 57.5rem;
      padding: 2rem;
    }
  }
  .flex {
    display: flex;
    justify-content: space-between;
  }
  .column-2 {
    max-width: 400px;
    background-color: #18181D;
    padding: 2.5rem;
    height: fit-content;
    border-radius: 4px 64px 4px 64px;  
    @media (max-width: 1080px) {
      padding: 2rem;
    }
    @media (max-width: 960px) {
      display: none;
    }
  }
  .img {
    margin: 2rem 0;
    display: block;
    position: relative;
    max-width: 320px;
  }
  // adicionar after na imagem
  @media (max-width: 1080px) {
    height: 100%;
  }
  header {
    z-index: 10;
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1080px) {
      max-width: 57.5rem;
    }
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 1rem;
    .logo {
      font-size: 2rem;
      font-family: 'Spectral', serif;
      color: $clDark;
    }
    ul {
      display: flex;
      font-size: 1.125rem;
      li {
        margin-right: 2rem;
      }
      a {
        text-decoration: none;
        color: $clDark;
      }

      li:last-child {
        margin-right: 0;
      }
    }
    #btn-menu {
      display: none;
    }
    ul.active {
      position: absolute;
      width: 100%;
      height: 100vh;
      left: 0;
      top: 0;
      z-index: 7;
      background: $clPseudo;
      overflow-y: hidden;
      &::after {
        content: '';
        width: 100%;
        height: 100%;
        background: $clBlack;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
      }
      padding-top: 20vh;
      display: block;
      li {
        margin-right: 0;
        font-size: 1.5rem;
        text-align: center;
        padding-top: 1.5rem;
        padding-bottom: .5rem;
        border-bottom: 2px solid $clWhite;
        max-width: 84%;
        margin: 0 auto;
      }
      a {
        color: $clWhite
      }
    }
    
    @media (max-width: 800px){
      ul {
        display: none;
      }
      #btn-menu {
        display: block;
        z-index: 10;
        cursor: pointer;
        position: relative;
        img {
          
          display: block;
        }
      }
      
    }
  }
  .text-block {
    max-width: 57.5rem;
    margin-top: 16vh;
    color: $clDark;
    position: relative;
    h1 {
      font-family: 'Spectral', serif;
      font-weight: 600;
      font-size: 3rem;
      line-height: 120%;
      max-width: 754px;
      @media (max-width: 1080px) {
        font-size: 3.5rem;
        max-width: 100%;
      }
      @media (max-width: 734px){
        font-size: 3.2rem;  
      }
      @media (max-width: 692px){
        font-size: 3.0rem;
      }
      @media (max-width: 445px){
        font-size: 2.7rem;
      }
    }
    span {
      display: block;
      font-family: 'Lato', sans-serif;
      font-size: 1.25rem;
      line-height: 150%;
      margin-top: 1.5rem;
      max-width: 40rem;
      @media (max-width: 1300px) {
        max-width: 80%;
      }
      @media (max-width: 800px){
        font-size: 1.125rem;
      }
    }
    .btn {
      margin-top: 2rem;
    }
  }
}
