#quote {
  background: $clPseudo;
  max-width: 1180px;
  margin: 0 auto;
  padding:  3rem calc((100% - 1180px)/2);
  color: $clWhite;
  text-align: center;
  position: relative;
  z-index: 1;
  &::after {
    content: '';
    width: 100%;
    height: 100%;
    background: $clBlack;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
  blockquote {
    font-family: 'Spectral', serif;
    font-style: italic;
    display: block;
    margin: 0 auto;
    margin-top: 3rem;
    max-width: 40%;
    @media (max-width: 1080px){
      font-size: 1.125rem;
      max-width: 60%;
    }
    line-height: 160%;
    font-size: 1.25rem;
  }
  cite {
    display: block;
    margin-top: 2rem;
    font-size: 1.25rem;
    font-family:'Spectral', serif;
  }
}