/*Colours*/

$clWhite:  #F0F0FA;
$clLink: #33639C;
$clDark: #1B1B25;
$clAccent: #FFCC33;

$clBlack: linear-gradient(
  70.38deg,
  rgba(10, 10, 10, 0.94) 0.64%,
  rgba(9, 9, 9, 0.94) 0.65%,
  rgba(4, 4, 4, 0.8836) 99.36%
);

$clPseudo: linear-gradient(
  72.44deg,
  #395671 0%, 
  #8980bb 44.27%, 
  #457ec0 100%
);

$clGlass: linear-gradient(70.38deg, rgba(23, 12, 32, 0.5544) 0.64%, rgba(18, 12, 56, 0.42) 21.2%, rgba(15, 11, 41, 0.252) 99.36%);


//Sizes
$container-width: 1180px;

//mixins - responsividade;

